.PiedDePage
{
    position: absolute;
    width: 95%;
    background-color: rgb(220,220,220);
    bottom: 0px;
    left: 0px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 5%;
    font-size: 25px;
}
.ok
{
    border-radius: 25px;
    position: absolute;
    display:block;
    top: 7.5px;
    right: 7.5px;
    bottom: 7.5px;
    width: 50px;
    background-color: rgb(255,230,0);
    text-align: center;
    padding: 15px;
    color: blue;
    border: 5px solid blue
}
.PiedDePage:hover
{
    background-color: rgb(210,210,210);
}
.ok:hover
{
    background-color: rgb(255,255,50);
    color: rgb(50,50,255);
    border: 5px solid rgb(50,50,255);
}
.seConnecter
{
    width: 100%;
    border:none;
    border-collapse: collapse;
}
.seConnecter tr td
{
    vertical-align: top;
    width: 50%;
    padding: 15px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.seConnecter td:first-child {
    border-left: none;
}

.seConnecter td:last-child {
    border-right: none;
}
.consent
{
    border: none;
    border-collapse: collapse;
}
.consent tr td {
    padding: 3px;
    border-left: none;
    border-right: none;
}
.consent td:first-child
{
    width: 90%
}